@use '../abstract/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&family=Roboto&display=swap');
html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
li,
span,
button,
td,
th,
.form-control,
label.form-label div {
  font-family: $open-sans;
  color: $black;
}

p,
a,
li,
span,
th,
td,
.form-control {
  font-size: 1.4rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 0.75em;
}

h3,
.h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.8rem;
  margin-bottom: 0.8em;
}

a {
  text-decoration: none;
}

.bold,
label.form-label,
label.form-check-label {
  font-weight: bold;
}

label.form-label,
label.form-check-label {
  font-size: 1.2rem;
}

.italic {
  font-style: italic;
}

.more {
  color: $silver-chalice;
}
