include ../data/data
include ../layout/footer
include ../layout/home-carousel
include ../layout/home-grid
include ../layout/home-hero
include ../layout/nav-cart-dropdown
include ../layout/nav-product-dropdown
include ../layout/nav-link-dropdown
include ../layout/nav
include ../layout/pop-up


doctype html
html(lang="en")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='https://kit.fontawesome.com/028dbdff64.js' crossorigin='anonymous')
    link(rel="stylesheet" href="css/styles.css")
    script(src="js/bootstrap.js") 
    block title
    body 
        +nav 
        block content
        +footer
