// Static Nav
-var trangChu = {name:'TRANG CHỦ',url:'index.html'}
-var gioiThieu = {name:'GIỚI THIỆU',url:'about-us.html'}
-var sanPham = {name:'SẢN PHẨM',url:'products-grid.html',hasDropdown:{componentMixinName:productDropdown,bonusClass:'nav-product'}}
-var tinTuc = {name:'TÀI KHOẢN',url:'profile.html'}
-var blog = {name:'BLOG',url:'blog.html' }
-var lienHe = {name:'LIÊN HỆ',url:'contact.html'}
-var navLinks = [trangChu,gioiThieu,sanPham,tinTuc,blog,lienHe]

// Product Dropdown
-var duongDa = ['Dưỡng da 1','Dưỡng da 2','Dưỡng da 3','Dưỡng da 4','Dưỡng da 5','Dưỡng da 6','Dưỡng da 7','Dưỡng da 8']
-var nuocHoa = ['Nước hoa 1','Nước hoa 2','Nước hoa 3','Nước hoa 4','Nước hoa 5','Nước hoa 6','Nước hoa 7','Nước hoa 8']
-var trangSuc = ['Trang sức 1','Trang sức 2','Trang sức 3','Trang sức 4','Trang sức 5','Trang sức 6','Trang sức 7','Trang sức 8']
-var productDropdown = [{category: 'DƯỠNG DA', content:duongDa},{category: 'NƯỚC HOA', content:nuocHoa},{category: 'TRANG SỨC', content:trangSuc}]

// Footer List
-var chuyenHang = ['Mua sắm trực tuyến', 'Đến từ chúng tôi gửi đến', 'Chính sách vận chuyển', 'Vận chuyển thông tin'];
-var hoTro = ['Cậu chuyện của chúng ta', 'Thanh toán an toàn', 'Tùy chọn vận chuyển', 'Chính sách vận chuyển'];
-var thongTin = [{name:'Về chúng tôi',url:'about-us.html'}, 'Điều khoản và điều kiện', 'Chính sách riêng tư', 'Đơn đặt hàng và Returns'];
-var account = [{name:'Xem giỏ hàng',url:'cart.html'}, {name:'Tài khoản',url:'profile.html'}, {name:'Đăng ký',url:'sign-up.html'}, {name:'Đăng nhập',url:'sign-in.html'}];
-var footerSections = [{category: 'Chuyển hàng', content: chuyenHang}, {category: 'Hỗ trợ', content: hoTro}, {category: 'Thông tin', content: thongTin}, {category: 'My Account', content: account}];

// Internal Link
-var ilCart = [{name:'Giỏ hàng',url:'cart.html'}]
-var ilProfile = [{name:'Tài khoản',url:'profile.html'}]
-var ilSignUp = [{name:'Đăng ký',url:'sign-up.html'}]
-var ilSignIn = [{name:'Đăng nhập',url:'sign-in.html'}]
-var ilAboutUs = [{name:'Về chúng tôi',url:'about-us.html'}]
-var ilProducts = [{name:'Sản phẩm',url:'products-grid.html'},{name:'Trang sức',url:'products-grid.html'}]
-var ilProductDetail = [{name:'Sản phẩm',url:'products-grid.html'},{name:'Trang sức',url:'products-grid.html'},{name:'Lắc tay',url:''}]
-var ilBlog = [{name:'Blog',url:'blog.html'}]
-var ilBlogDetail = [{name:'Blog',url:'blog.html'},{name:'Nàng béo không ngại diện váy áo nổi bật',url:''}]
-var ilContact = [{name:'Liên hệ',url:'contact.html'}]

// Cart
-var cart = [{img:'assets/cart-item.png',name:'Lắc tay D&G',price:'345.000đ',quantity:1, totalPrice:'345.000đ'},{img:'assets/cart-item.png',name:'Lắc tay D&G',price:'345.000đ',quantity:2, totalPrice:'690.000đ'}]

// Profile
-var profile = [{order:'#1006',date:'May 13, 2013',status:'Đã thanh toán',total:'350.000đ',debt:0},{order:'#1006',date:'May 13, 2013',status:'Đã thanh toán',total:'350.000đ',debt:0},{order:'#1006',date:'May 13, 2013',status:'Đã thanh toán',total:'350.000đ',debt:0},{order:'#1006',date:'May 13, 2013',status:'Thanh toán 50%',total:'350.000đ',debt:'175.000đ'},]

// Sign up
-var firstSignUpInputs = [{id:'firstName',label:'Tên trước',type:'text'},{id:'lastName',label:'Tên sau',type:'text'},{id:'email',label:'Email',type:'email'},{id:'password',label:'Mật khẩu',type:'password'}]
-var secondSignUpInputs = [{id:'2nd-password',label:'Mật khẩu',type:'password'},{id:'confirm-pasword',label:'Xác nhận mật khẩu',type:'password'}]

// Sign in
-var signInInputs = [{id:'email',label:'Địa chỉ email',type:'email'},{id:'password',label:'Password',type:'password'}]

// Contact
-var contactInputs = [{id:'name',label:'Tên',type:'text'}, {id:'email',label:'Email',type:'email'},{id:'message',label:'Tin nhắn',rows:10}]

// Tag
-var tags = ['Đồng hồ','Túi','Phụ kiện','Giày','Sandal','Áo sơ mi','Nước hoa','Trẻ em','Thời trang nữ']

// Blog detail newest articles
-var blogDetailArticles = [{src:'assets/blog2.png',date:'1',month:'12',author:'A'},{src:'assets/blog3.png',date:'2',month:'11',author:'B'},{src:'assets/blog4.png',date:'3',month:'10',author:'C'}]

// BLog articles
-var blogArticles = [{src:'assets/blog1.png'},{src:'assets/blog2.png'},{src:'assets/blog3.png'},{src:'assets/blog4.png',lg:1},{src:'assets/blog5.png',lg:1},{src:'assets/blog6.png',lg:1},{src:'assets/blog7.png',xl:1},{src:'assets/blog8.png',xl:1},{src:'assets/blog9.png',xl:1}]

// Aside products groups
-var asideGroups = [{category:'MỸ PHẨM'},{category:'TRANG SỨC',items:['Vòng tay','Nhẫn','Lắc chân','Phụ kiện khác']},{category:'PHỤ KIỆN'},{category:'NƯỚC HOA'}]

// Product items
-
      var products = [
            {
                  src: 'assets/product1.png',
                  brand:'Brand 1',
                  name:'Mỹ phẩm châu Âu',
                  price:'355.000đ',
                  price2:'450.000đ',
                  highPiority:1
            },
            {
                  src: 'assets/product2.png',
                  brand:'Brand 2',
                  name:'Mỹ phẩm châu Âu',
                  price:'355.000đ',
                  highPiority:1
            },
            {
                  src: 'assets/product3.png',
                  brand:'Brand 3',
                  name:'Mỹ phẩm Hàn Quốc',
                  price:'355.000đ',
                  highPiority:1
            },
            {
                  src: 'assets/product1.png',
                  brand:'Brand 4',
                  name:'Mỹ phẩm Hàn Quốc',
                  price:'355.000đ',
                  highPiority:1
            },
            {
                  src: 'assets/product2.png',

                  brand:'Brand 5',
                  name:'Mỹ phẩm Úc',
                  price:'355.000đ',
                  price2:'450.000đ',
            },
            {
                  src: 'assets/product3.png',
                  brand:'Brand 6',
                  name:'Mỹ phẩm Úc',
                  price:'355.000đ',
            }
      ]

// Product Detail
-var detailImages = ['assets/detail1.png','assets/detail2.png','assets/detail3.png','assets/detail4.png']
-var detailContent = [{src:'assets/detail5.png'},{src:'assets/detail6.png',right:'detail__content--right'},{src:'assets/detail7.png'},{src:'assets/detail8.png',right:'detail__content--right'}]

// Home
-var gridHeader = [{class:'fa-plane',content:'Miễn phí vận chuyển trên toàn quốc'},{class:'fa-gift',content:'Nhận ngay quà tặng trị giá 350.000đ'},{class:'fa-star',content:'Giảm 30% cho đơn hàng trên 5.000.000đ'}]
