// Product Dropdown
-var duongDa = ['Dưỡng da 1','Dưỡng da 2','Dưỡng da 3','Dưỡng da 4','Dưỡng da 5','Dưỡng da 6','Dưỡng da 7','Dưỡng da 8']
-var nuocHoa = ['Nước hoa 1','Nước hoa 2','Nước hoa 3','Nước hoa 4','Nước hoa 5','Nước hoa 6','Nước hoa 7','Nước hoa 8']
-var trangSuc = ['Trang sức 1','Trang sức 2','Trang sức 3','Trang sức 4','Trang sức 5','Trang sức 6','Trang sức 7','Trang sức 8']

// Footer List
-var chuyenHang = ['Mua sắm trực tuyến', 'Đến từ chúng tôi gữi đến', 'Chính sách vận chuyển', 'Vận chuyển thông tin'];
-var hoTro = ['Cậu chuyện của chúng ta', 'Thanh toán an toàn', 'Tùy chọn vận chuyển', 'Chính sách vận chuyển'];
-var thongTin = ['Về chúng tôi', 'Điều khoản và điều kiện', 'Chính sách riêng tư', 'Đơn đặt hàng và Returns'];
-var account = ['Xem giỏ hàng', 'Sản phẩm yêu thích', 'Kiểm tra', 'Theo dõi đặt hàng của tôi'];
-var sections = [{category: 'Chuyển hàng', content: chuyenHang}, {category: 'Hỗ trợ', content: hoTro}, {category: 'Thông tin', content: thongTin}, {category: 'My Account', content: account}];
