-let duongDa = ['Dưỡng da 1','Dưỡng da 2','Dưỡng da 3','Dưỡng da 4','Dưỡng da 5','Dưỡng da 6','Dưỡng da 7','Dưỡng da 8']
-let nuocHoa = ['Nước hoa 1','Nước hoa 2','Nước hoa 3','Nước hoa 4','Nước hoa 5','Nước hoa 6','Nước hoa 7','Nước hoa 8']
-let trangSuc = ['Trang sức 1','Trang sức 2','Trang sức 3','Trang sức 4','Trang sức 5','Trang sức 6','Trang sức 7','Trang sức 8']

