mixin blog-article(src,content)
  .blog-article
    .blog-section
      img(src= src alt="blog thumbnail").w-100.mb-5
      h2.bold NÀNG BÉO KHÔNG NGẠI DIỆN VÁY ÁO NỔI BẬT
    .blog-section
      p.blog-content.my-4= content
      p.italic.silver Bởi NamTran (27/05/2015)
    .blog-section.mb-5
      .d-flex.justify-content-between.mb-5
        a(href="blog-detail.html").more Đọc thêm 
        p.silver 23 bình luận
