mixin contact-form
  form.contact-form
    each item in contactInputs
      .row 
        label.form-label(for= item.id)= item.label 
        if !item.rows
          input(id= item.id type= item.type).form-control
        else 
          textarea(id= item.id type='text' rows= item.rows).form-control
    .d-flex.justify-content-end
      button.btn(type="submit") Gửi ý kiến