mixin shopping-buttons
  .d-flex.justify-content-center
    button.shopping-button.btn MUA HÀNG
    button.shopping-button.btn
      i(class="fas fa-heart")
    button.shopping-button.btn 
      i(class="fas fa-sync-alt")
