extends ../base/base

block title
  title About us

block content
  .container
    +internalLink(ilAboutUs)
    .about-us.mt-4.mb-5
      h2 VỀ CHÚNG TÔI
      .row
        .col-lg-6.mb-4.d-flex.justify-content-center.justify-content-lg-start
          img.mx-auto.mx-lg-0.img-fluid(src="assets/about-us.png" alt="a working man")
        .col-lg-6
          img(src='assets/nav-logo.png' alt='brand logo').mb-5.d-block.mx-auto.mx-lg-0
          h4.bold.mt-4 GIỚI THIỆU CHUNG VỀ MỸ PHẨM HANDMADE MANDALA
          p.mb-4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ab tenetur, asperiores hic error, architecto ullam nulla velit possimus vel soluta illo libero dolore fugiat temporibus voluptatibus debitis ut quis. Debitis et atque exercitationem veniam consequatur sit recusandae, deserunt modi eligendi fugit ex nobis iste totam optio, vero molestias eum.
          a(href='#') Xem thêm