extends ../base/base

block title
  title Contact

block content
  .container
    +internalLink(ilContact)
    .row
      h2 LIÊN HỆ
      .col-lg-6.d-flex.justify-content-center.justify-content-xxl-start
        img.img-fluid(src="assets/map.png")
      .col-lg-6.mt-4.mt-lg-0
        h4 GỬI EMAIL CHO CHÚNG TÔI
        +contact-form
