@use './variables' as *;

// Fix lại vị trí của 2 icon cart và finding trên nav-bar
@mixin nav-fix($first-breakpoint, $second-breakpoint, $cart-move, $find-move) {
  @media screen and (min-width: $first-breakpoint) and (max-width: $second-breakpoint - 1px) {
    .container a:nth-of-type(2) {
      left: $cart-move;
    }
    .container a:nth-of-type(3) {
      left: $find-move;
    }
  }
}

@mixin media($first-breakpoint, $second-breakpoint) {
  @media screen and (min-width: $first-breakpoint) and (max-width: $second-breakpoint) {
    @content;
  }
}
