@use './variables' as *;

// Fix lại vị trí của 2 icon cart và finding trên nav-bar
@mixin nav-fix($first-breakpoint, $second-breakpoint, $cart-move, $find-move) {
  @media screen and (min-width: $first-breakpoint) and (max-width: $second-breakpoint - 1px) {
    .nav-cart {
      left: $cart-move;
    }
    .nav-find {
      left: $find-move;
    }
  }
}

@mixin product-dropdown-fix($first-breakpoint, $second-breakpoint, $distance) {
  @media screen and (min-width: $first-breakpoint) and (max-width: $second-breakpoint - 1px) {
    .product-dropdown {
      right: $distance;
    }
  }
}

%dropdown {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s ease-in;
  position: absolute;
}

%dropdown-hover {
  opacity: 1;
  height: 28.1rem;
  border: 2px solid $wasabi;
}

%gray-line {
  border-top: 2px solid $wild-sand;
  width: 100%;
  content: '';
  margin: 0 0 1rem 0;
}
