$open-sans: 'Open Sans', sans-serif;
$lobster: 'Lobster';

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$cod-gray: #1a1a1a;
$wasabi: #789629;
$wild-sand: #f4f4f4;
$seashell: #f1f1f1;
$tundora: #444444;
$silver-chalice: #a8a8a8;
