@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

@media screen and (max-width: $sm) {
  .blog-title {
    font-size: 2rem;
  }
}

.blog-section {
  display: flex;
  flex-direction: column;

  &:nth-child(1)::after,
  &:nth-child(2)::after {
    @include gray-line;
  }
}
