mixin hero 
  .hero.mb-6.pb-0
    .container-sm
      .row
        .hero__content.col-7.col-sm-5.d-flex.flex-column.justify-content-center
          img.img-fluid(src="assets/hero-content-sm.png" alt="hero content").mb-5.d-lg-none
          img.img-fluid(src="assets/hero-content.png" alt="hero content").mb-5.d-none.d-lg-block
          a(href="products-grid.html").hero__link.mx-auto  MUA HÀNG
        .hero__image.col-5.px-0.d-sm-none
          img.img-fluid.float-end(src="assets/hero-sm.png" alt="hero image")
        .hero__image.col-sm-7.d-none.d-sm-block
          img.img-fluid.float-end(src="assets/hero.png" alt="hero image")
