.cart-dropdown
  .cart-dropdown__items 
    .cart-dropdown__item 
      img(src="assets/cart-dropdown-item.png" alt="")
      p.cart-dropdown__content Áo sơ mi Nam 
      p.cart-dropdown__price 120.000đ
    .cart-dropdown__item 
      img(src="assets/cart-dropdown-item.png" alt="")
      p.cart-dropdown__content Áo sơ mi Nam 
      p.cart-dropdown__price 120.000đ
  .cart-dropdown__total.d-flex.justify-content-between
    p.cart-dropdown__content Tổng số
    p.cart-dropdown__price 240.000đ
  a(href="cart.html")       
    button.btn.btn-dark.w-50 GIỎ HÀNG 

