mixin nav
  nav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar-brand(href='#') 
        img(src="assets/nav-logo.png" alt="brand-logo")
      .nav-cart
        a(href="cart.html")
          i.fas.fa-shopping-cart.my-auto
        +cartDropdown
      .nav-find
        a(href="")    
          i.fas.fa-search
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbar-content' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbar-content.collapse.navbar-collapse.mt-4.mt-lg-0
        ul.navbar-nav.mb-2.mb-lg-0.align-items-center
          each link in navLinks
            if link.hasDropdown
              li.nav-item(class= link.hasDropdown.bonusClass)
                a.nav-link(href= link.url)= link.name
                  i.fas.fa-angle-down.d-none.d-lg-inline-block
                +navLinkDropdown(productDropdown)
            else 
              li.nav-item
                a.nav-link(href= link.url)= link.name






            //- li.nav-item.nav-product
            //-   a.nav-link(href="")= link
            //-     i.fas.fa-angle-down.d-none.d-lg-inline-block
            //-   +productDropdown
            //- default
            //-   li.nav-item
            //-     a.nav-link(href="")= link